setuptools
numpy
pandas
scikit-learn
matplotlib
ViennaRNA
Bio
openpyxl
seaborn
scipy
supervenn
upsetplot
xgboost
lightgbm
umap-learn
distinctipy
pyarrow
yellowbrick
funcy
shap
igraph
leidenalg
python-louvain
scikit-bio